.formulario{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #0093E9;
    background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
    margin: 10px 10px 40px 10px;
    padding: 16px;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.647)
    textarea{
        width: 330px;
        margin-bottom: 15px;
    }
    label{
        font-size: 1.8rem;
        margin: 1rem;
        color: #ede7e3ff;
    }
    select{
        margin-bottom: 15px;
    }
}