.footer{
    grid-area: footer;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
}

.redesSociales{
    margin: 0, 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}