.menuBar{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    height: auto;
    position: fixed;
    z-index: 150;
    left: -100%;
    display: inline-block;
    background-color: rgb(64, 69, 74);
    width: 100%;
    height: 100vh;
    top: 80px;
    transition: 0.3s;
    li{
        display: flex;
        flex-direction: column;
        margin: 40px 10px;
        & :hover{
            padding: 5px;
            border: solid 2px;
            border-radius: 6px;
            transition: 0.6s;
            background-color: aliceblue;
            color: rgb(51, 101, 113);
        }
        a{
            text-decoration: none;
            color: aliceblue;
        }
    
    }
}

.menuBarra{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    justify-content: space-between;
    position: relative;
    z-index: 99;
    left: 0%;
    
}

.active {
    padding: 5px;
    border: solid 2px;
    border-radius: 6px;
    text-align: center;
}

#logo {
    height: 60px;
    position: relative;
    padding: 0;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#check{
    display: none;

}

#check:checked ~ .menuBar{
    left: 0;
}


.btnMenu{
    height: 40px;
    line-height: 80px;
    margin-top: 20px;
    margin-right: 30px;
    display: block;
}

/*Tamaño para tablet*/

@media screen and (min-width:750px) {
    

    .menuBar{
        
        text-align: center;
        font-size: 2rem;
        padding: 10px;
        height: auto;
        position: relative;
        left: 0;
        background-color: rgba(105, 105, 105, 0);
        top: 0;
        li{
            display: inline-block;
            position: relative;;
            margin: 12px 10px;
        }
    }

    .btnMenu{
        display: none;
    }
    
    
}

/*Tamaño para escritorio*/

@media screen and (min-width:1200px) {
   

    .menuBar{
        
        text-align: right;
        font-size: 2rem;
        padding: 10px;
        height: auto;
        position: relative;
        left: 0;
        background-color: rgba(105, 105, 105, 0);
        top: 0;
        li{
            display: inline-block;
            position: relative;;
            margin: 12px 10px;
        }
    }

    .btnMenu{
        display: none;
    }





}