.menuBar{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    height: auto;
    li{
        display: flex;
        flex-direction: column;
        margin: 12px 10px;
        & :hover{
            padding: 5px;
            border: solid 2px;
            border-radius: 6px;
            transition: 0.6s;
            background-color: aliceblue;
            color: rgb(51, 101, 113);
        }
        a{
            text-decoration: none;
            color: aliceblue;
        }
    
    }
}